.bg

-content_for :sidebar do
  %h4 Clients
  %li
    %a{:href => "/clients/software"} Software
  %li
    %a{:href => "/clients/medical"} Medical &amp; Health Technologies
  %li
    %a{:href => "/clients/cleantech"} Cleantech
  %li
    %a{:href => "/clients/ecommerce"} Mobile &amp; Payments
  %li
    %a{:href => "/clients/consumer"} Consumer

  #clients_nav.software
    .icons
    .indicator
