%l
  %li
    %a{:href => "/clients/software"} Software
  %li
    %a{:href => "/clients/medical"} Medical and Health Technologies
  %li
    %a{:href => "/clients/cleantech"} Cleantech
  %li
    %a{:href => "/clients/ecommerce"} ECommerce
  %li
    %a{:href => "/clients/consumer"} Consumer
