.bg

-content_for :sidebar do
  #contact

    %h4 Contact

    %p 
      To set up an initial meeting, please leave a message at either
      <span class="phone">888-775-9990</span> or <a
      href="mailto:info@schoxplc.com">info@schoxplc.com</a>. As
      detailed here, please do not provide us any confidential
      information until we establish a client-attorney relationship.

    %h5 San Francisco
    Our main office is in the SOMA district of San Francisco, right
    across from South Park. The building, which is also the
    headquarters for Wired and Engine Yard, is located at:

    %p
      .addr  Schox, PLC
      .addr 500 3rd Street, Suite 515
      .addr San Francisco, CA 94107

    %h5 Silicon Valley
    During the Fall and Winter semesters, Jeff teaches at Stanford
    and often meets with clients in the South Bay between 10am and
    noon.

    %h5 Ann Arbor
    Approximately every eight weeks, Jeff visits Ann Arbor and meets
    with clients over a compressed two or three day schedule.
