.bg

-content_for :sidebar do
  #disclaimer

    %h4 Disclaimer

    %h5 No Attorney-Client Relationship
    %p
      Neither the retrieval of information from us nor the transmittal
      of electronic mail to us will create an attorney-client
      relationship with Schox, PLC. If any electronic mail is
      transmitted to us before a formal attorney-client relationship
      has been established, the electronic mail will not be treated
      as confidential. Please do not transmit any confidential
      information to us until a formal attorney-client relationship
      has been established.</p>

    %h5 Information and Tutorials
    %h5 are Not Legal Advice

    %p
      This website includes information and tutorials for the conveyance
      of general information about intellectual property law, and not
      for the purpose of providing legal advice. You should always
      consult an attorney for individual legal advice regarding your
      own situation.

    %h5 Licenses and Registrations
    %p
      Jeff is licensed to practice general law in Michigan. Ryan
      is licensed to practice general law in New Mexico. Jeff, Ryan,
      Candice, Diana, and Peter are all registered to practice
      patent law before the U.S. Patent &amp; Trademark Office.
