.bg

-content_for :sidebar do
  %h4 Mission statement

  %p I believe that entrepreneurs can change the world. I believe that their medical device startups can identify and cure our diseases, their software startups can improve our efficiency and connectiveness, and their clean tech startups can solve our water and energy problems.

  %p I believe, as eloquently stated by Abe Lincoln, that the patent system adds the fuel of interest to the fire of genius. That, with a strong patent strategy, startups are more likely to capture their inventions and to attract investor money.

  %p Guided by these beliefs, I left the partnership track of a big firm and created the Schox Patent Group with a singular mission: <strong> help entrepreneurs in their quest to change the world</strong>.

  %p
    %a{:href => "/omission"}
      %strong We also have an &ldquo;Omission statement.&rdquo;
