%img{:src => "/images/jeffschox-office.jpg"}

-content_for :sidebar do
  %h4 Hi there.

  %p <span class="brand">Schox Patent Group</span> is a boutique patent firm devoted to startup ventures. We build patent portfolios that enable startups to attract funding and avoid patent infringement.

  %p Our clients have raised money from Accel, Andreessen Horowitz, Bessemer, Founders Fund, Kleiner Perkins, and Sequoia. 

  %p With backgrounds in mechanical, electrical, software, and physics, we have a focus on the medical device, clean technology, and software industries. We have a particular interest in crossover areas, such as digital health, that incorporate both hardware and software.

  %p If you are a startup looking to build a patent portfolio, you have come to the right spot.

  %p This is <span class="brand">Schox Patent Group</span>, and this is our story:
