- page_id = request.path_info.gsub(%r{/}, '_').gsub( /^_/, '')
- page_id = page_id.empty? ? "intro" : page_id
!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Schox PLC
    %meta{:content => "A boutique patent firm dedicated to startup ventures.", :name => "description"}
    %meta{:content => "Schox PLC", :name => "author"}
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    %link{:href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/css/bootstrap-overrides", :rel => "stylesheet"}
    %link{:href => "/css/main", :rel => "stylesheet"}
    / Le fav and touch icons
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}

  %body{:class => page_id }
    .topbar
      .container
        %a.brand{:href => "/"}
          Schox PLC
        %div{:class => 'pull-right'}
          %ul.nav
            %li.intro{:class => (page_id == "intro" ? "active" : "")}
              %a{:href => "/"} Intro
            %li.divider
            %li.founder{:class => (page_id == "founder" ? "active" : "")}
              %a{:href => "/founder"} Founder
            %li.divider
            %li.team{:class => (page_id == "team" ? "active" : "")}
              %a{:href => "/team"} Team
            %li.divider
            %li.clients{:class => (page_id == "clients" ? "active" : "")}
              %a{:href => "/clients"} Clients
            %li.divider
            %li.contact{:class => (page_id == "contact" ? "active" : "")}
              %a{:href => "/contact"} Contact

    .container.main
      .content
        .row
          .span11
            \#{yield}
          .span3.sidebar_photo
            .sidebar_black
              .sidebar
                = yield_content :sidebar

        .row.footer
          .span6.book
            %img{:src => "/images/nav/book.png"}
            %a{:href => "http://www.amazon.com/Not-So-Obvious-Introduction-Strategy/dp/1466269812"}
              %strong Not So Obvious: An Introduction to Patent Law and Strategy
            %div 
              By Jeffrey Schox
              %a{:href => "http://www.amazon.com/Not-So-Obvious-Introduction-Strategy/dp/1466269812"}
                Available on Amazon
            
          .span5.twitter
            %img{:src => "/images/nav/twitter.png"}
            #twitter
              %a{:href => "https://twitter.com/#!/jschox"}
                %strong Follow us
                on Twitter
            #lectures
              %a{:href => "#ITUNES_LINK_HERE"}
                %strong Lectures
                on iTunes
            #presos
              %a{:href => "#SLIDESHARE_LINK_HERE"}
                %strong Presentations
                on Slideshare

          .span5.write
            %img{:src => "/images/nav/map.png"}
            #write
              %a{:href => "mailto:info@schoxplc.com"}
                %strong Write us
                at
                info @ schoxplc.com
            #call
              %strong Call us
              at 888.123.4567
            #read
              %a{:href => "/disclaimer"}
                %strong Read
                our disclaimer

      %footer
        %p © Schox PLC, 2012
    / /container
    <script src='http://platform.twitter.com/anywhere.js?id=FOO_REPLACE_ME&amp;v=1'></script>
    :javascript
      twttr.anywhere(function (T) {
        T.linkifyUsers();
        T.hovercards();
      });

