!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Schox PLC
    %meta{:content => "A boutique patent firm dedicated to startup ventures.", :name => "description"}
    %meta{:content => "Schox PLC", :name => "author"}
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    %link{:href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/css/bootstrap-overrides", :rel => "stylesheet"}
    %link{:href => "/css/main", :rel => "stylesheet"}
    / Le fav and touch icons
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}

  %body
    .topbar
      .container
        %a.brand{:href => "/"}
          Schox PLC
        %div{:class => 'pull-right'}
          %ul.nav
            %li.intro
              %a{:href => "/"} Intro
            %li.founder
              %a{:href => "/founder"} Founder
            %li.team
              %a{:href => "/team"} Team
            %li.clients
              %a{:href => "/clients"} Clients
            %li.contact
              %a{:href => "/contact"} Contact

    .container.main
      .content
        .row
          .span11
            \#{yield}
          .span3.sidebar
            = yield_content :sidebar
        .row
          .span6
            Not So Obvious: An Introduction to Patent Law and Strategy
            By Jeffrey Schox |
            %a{:href => "http://www.amazon.com/Not-So-Obvious-Introduction-Strategy/dp/1466269812"} Available on Amazon
            
          .span5
            #twitter
              %a{:href => "https://twitter.com/#!/jschox"}
                Follow us on Twitter
            #lectures
              Lectures on iTunes
            #presos
              Presentation on Slideshare
          .span5
            #write
              Write us at info@schoxplc.com
            #call
              Call us at 888.123.4567
            #read
              Read our disclaimer

      %footer
        %p © Schox PLC, 2012
    / /container
    <script src='http://platform.twitter.com/anywhere.js?id=FOO_REPLACE_ME&amp;v=1'></script>
    :javascript
      twttr.anywhere(function (T) {
        T.linkifyUsers();
        T.hovercards();
      });

