%img{:src => "/images/jeffschox.jpg", :height => "518", :width => "630"}

-content_for :sidebar do
  %h4 Omission statement

  %p We do not offer litigation services, licensing services, or trademark services. I have focused my firm squarely on companies seeking to build a patent portfolio. 

  %p We do not represent solo inventors seeking to patent and license their inventions. I do not believe that this is an effective way to change the world. 

  %p We do not represent Fortune 500 companies seeking to add another patent to their formidable portfolio. I turned down Google. Twice. 

  %p Our ideal client is a startup that is located in San Francisco, Silicon Valley, or Ann Arbor, and is focused in medtech, cleantech, or software. For these clients, we build patent portfolios that enable them to increase value and attract funding.

  %p 
    %a{:href => "/founder"} Mission statement
