.bg

-content_for :sidebar do
  #team
    %p
      %em From left to right.

    %p
      %span.name Jeffrey Schox.
      Patent Attorney of fourteen years focused on patent strategy.
      Teaches at Stanford Law School.
      %span.edu University of Michigan (BS and MS). George Mason (JD).
      %a{:href => "http://www.linkedin.com/in/jschox"}
        LinkedIn profile.

    %p
      %span.name Diana Lin.
      Patent Agent focused on clean technologies. Brews beer.
      %span.edu Berkeley (BS). Stanford (MS).
      %a{:href => "http://www.linkedin.com/in/dianaclin"}
        LinkedIn profile.

    %p
      %span.name Peter Miller.
      Patent Engineer focused on consumer goods and apps. Rebuilds cars.
      %span.edu Stanford (BS and MS).
      %a{:href => "http://www.linkedin.com/in/peterdeliamiller"}
        LinkedIn profile.
