%img{:src => "/images/schoxplc-team.jpg", :height => "518", :width => "630"}

-content_for :sidebar do
  #team
    %p
      %em From left to right.

    %p
      %span.name Candice Hsu.
      Patent Agent focused on medical devices. Waltzes and swings.
      %span.edu Stanford (BS and MS).
      %a{:href => ""}
        LinkedIn profile.

    %p
      %span.name Ryan Kennedy.
      Patent Attorney of ten years focused on high tech and software.
      Runs ultra-marathons.
      %span.edu Swarthmore (BS). New Mexico (JD). Northwestern (LLM).
      %a{:href => ""}
        LinkedIn profile.

    %p
      %span.name Jeffrey Schox.
      Patent Attorney of fourteen years focused on patent strategy.
      Teaches at Stanford Law School.
      %span.edu University of Michigan (BS and MS). George Mason (JD).
      %a{:href => ""}
        LinkedIn profile.


    %p
      %span.name Diana Lin.
      Patent Agent focused on cleantechnologies. Brews beer.
      %span.edu Berkeley (BS). Stanford (MS).
      %a{:href => ""}
        LinkedIn profile.

    %p 
      %span.name Liz Burstein.
      Summer Patent Law Intern focused on software inventions.
      %span.edu Headed to law school. Stanford (BS). 

    %p
      %span.name Peter Miller.
      Patent Engineer focused onconsumer goods and apps. Rebuilds cars.
      %span.edu Stanford (BS and MS).
      %a{:href => ""}
        LinkedIn profile.
