.bg

-content_for :sidebar do
  %a{ :href=> "/clients"}
    %em &laquo; Clients
    
  %h4 Cleantech

  %p 
    There are many startups that are solving the energy and transportation issues of the world. We represent more than a dozen clients that focus on clean technologies, including:

  %p 
    %strong Accio
    Energy wind energy systems
    Series A funding from Resonant Ventures

  %p 
    %strong Aperia
    automatic tire inflation systems
    Seed funding from Band of Angels and Augment Ventures

  %p 
    %strong Ardica
    personal fuel cells
    Grant funding from DARPA

  %p 
    %strong Mission Motors
    %em (pictured)
    high-performance electric vehicle components
    Series B funding from Warburg Pincus

  %p 
    %strong Weng Motors 
    lightweight vehicles and mobility hotspots
    Seed funding from Lightspeed Venture Partners and Lemnos Labs

  #schoxbar.cleantech
    .icons
    .indicator
