%img{:src => "/images/cleantech.png", :height => "518", :width => "630"}

-content_for :sidebar do
  %a{ :href=> "/clients"}
    %em &laquo; Clients
    
  %h4 Cleantech

  %p 
    There are many startups that are solving the energy and transportation issues of the world. We represent more than a dozen clients that focus on clean technologies, including:

  %p 
    Accio Energy wind energy systems
    Series A funding from Resonant Ventures

  %p 
    Aperia automatic tire inflation systems
    Seed funding from Band of Angels and Augment Ventures

  %p 
    Ardica personal fuel cells
    Grant funding from DARPA

  %p 
    Mission Motors (pictured) high-performance electric vehicle components
    Series B funding from Warburg Pincus

  %p 
    Weng Motors lightweight vehicles and mobility hotspots
    Seed funding from Lightspeed Venture Partners and Lemnos Labs


