.bg

-content_for :sidebar do
  %a{ :href=> "/clients"}
    %em &laquo; Clients

  %h4 Consumer Products

  %p
    There is a resurgence in startups that design and make consumer products. Some of these startups are hybrid companies, with both significant hardware and software aspects. We represent more than a dozen clients that focus on consumer products, including:

  %p
    %strong Alite
    camping chair
    | Self-funded  Sold at REI

  %p
    %strong Coffee Joulies
    temperature control
    | Seed funding on Kickstarter

  %p
    %strong Lark
    un-alarm clock and sleep sensor
    | Seed funding from Lightspeed Venture Partners; Sold in the Apple Store

  %p
    %strong Satarii
    mobile camera accessories
    | Seed funding on IndieGoGo

  %p
    %strong Tactus
    %em (pictured)
    tactile surfaces
    | Series A funding from Thomvest Ventures

  #schoxbar.consumer
    .icons
    .indicator
