.bg

-content_for :sidebar do
  %a{ :href=> "/clients"}
    %em &laquo; Clients

  %h4 Mobile &amp; Payments

  %p
    While eCommerce has been a trend for a long time, there is a
    new crop of startups that are also building upon the trends in
    social, gamification, and big-data. We represent more than a
    dozen clients that focus on commerce platforms and business
    methods, including:

  %p
    %strong Switchfly
    SaaS loyalty program SaaS for travel companies
    | Series B funding from Azure Capital and Canann Partners

  %p
    %strong 140 Proof
    %em (pictured)
    social advertising platform
    | Series B funding from Founder&rsquo;s Fund and BlueRun Ventures

  %p
    %strong LendFriend
    peer-to-peer lending platform
    | Seed funding from AnglePad

  %p
    %strong SaveUp
    saving rewards program
    | Seed funding from BlueRun Ventures and True Ventures

  %p
    %strong ZestCash
    loan services
    | Series A funding from Lightspeed Venture Partners

  #schoxbar.ecommerce
    .icons
    .indicator
