%img{:src => "/images/ecommerce.png", :height => "518", :width => "630"}

-content_for :sidebar do
  %a{ :href=> "/clients"}
    %em &laquo; Clients
  
  %h4 E-Commerce

  %p
    While eCommerce has been a trend for a long time, there is a new crop of startups that are also building upon the trends in social, gamification, and big-data. We represent more than a dozen clients that focus on commerce platforms and business methods, including: 

  %p
    ezRez SaaS loyalty program SaaS for travelcompanies  
    | Series B funding from Azure Capital and Canann Partners

  %p
    140 Proof (pictured) in-stream advertisingplatform  
    | Series B funding from Founder's Fund and BlueRun Ventures

  %p
    LendFriend peer-to-peer lending platform 
    Seed funding from AnglePad

  %p
    SveUp saving rewards program  
    | Seed funding from BlueRun Ventures and True Ventures

  %p
    ZestCash loan services  
    | Series A funding from Lightspeed Venture Partners
