.bg

-content_for :sidebar do
  %h4 Medical and Health Technologies
  %p

  %p
    We represent more than a dozen clients that focus on medical
    devices, medical instruments, and digital health technologies,
    including:

  %p
    %strong Accuri Cytometers
    %em (pictured)
    low-cost flow cytometers | Series E funding from Arboretum Ventures and Flagship Ventures; Acquired by Becton Dickinson for $205M

  %p
    %strong Delphinus
    breast cancer screening systems
    | Series A funding from Arboretum Ventures and Beringea

  %p
    %strong Massive Health
    feedback loops that address diabetes and heart disease
    | Seed funding from Felicis, Mohr Davidow, Greylock, <a href="http://a16z.com/"><abbr title="Andreessen Horowitz">A16Z</abbr></a>, &amp; <a href="http://www.crv.com/"><abbr title="Charles River Ventures">CRV</abbr></a>

  %p
    %strong Omada Health
    web-based program for people with prediabetes
    | Seed funding from RockHealth, Esther Dyson, New Enterprise Associates, and Kapor Capital

  %p
    %strong Tangent Medical
    intravenous catheters
    | Series A funding from Arboretum Ventures

  #clients_nav.medical
    = partial 'clients/nav'
