%img{:src => "/images/medical.png", :height => "517", :width => "630"}

-content_for :sidebar do
  %a{ :href=> "/clients"}
    %em &laquo; Clients

  %h4 Medical and Health Technologies

  %p We represent more than a dozen clients that focus on medical devices, medical instruments, and digital health technologies, including:

  %p Accuri Cytometers (pictured) low-cost flow cytometers | Series E funding from Arboretum Ventures and Flagship Ventures; Acquired by Becton Dickinson for $205M

  %p 
    Delphinus breast cancer screening systems 
    Series A funding from Arboretum Ventures and Beringea 

  %p 
    Massive Health feedback loops that address diabetes and heart disease 
    | Seed funding from Felicis Ventures, Mohr Davidow Ventures, Greylock, Andreessen Horowitz, and Charles River Ventures

  %p 
    Omada Health web-based program for people with prediabetes 
    | Seed funding from RockHealth, Esther Dyson, New Enterprise Associates, and Kapor Capital

  %p 
    Tangent Medical intravenous cathetersSeries A funding from Arboretum Ventures
