%a.software{  :href => "/clients/software"}  Software
%a.medical{   :href => "/clients/medical"}   Medical
%a.cleantech{ :href => "/clients/cleantech"} Cleantech
%a.ecommerce{ :href => "/clients/ecommerce"} eCommerce
%a.consumer{  :href => "/clients/consumer"}   Consumer

.icons
.indicator
