-content_for :sidebar do
  %a{ :href=> "/clients"}
    %em &laquo; Clients
  
  %h4 Software

  %p There are many startups that are solving thecommunication and security issues of society. We represent more than a dozen clients thatfocus on software platforms and APIs, including:

  %p 6connect network automation tools for IPv6 migration  |  Series A funding from HummerWinblad Venture Partners

  %p Banjo social discovery service  |  Series Afunding from BlueRun Ventures and Lightspeed Venture Partners

  %p Bubbli navigable photos  |  Seed funding from August Capital

  %p Duo Security two-factor authentication inthe cloud  |  Seed funding from True Venturesand Resonant Venture Partners

  %p Twilio  (pictured) phone services API  |  Series C funding from Bessemer Venture Partners and Union Square Ventures
  