.bg

-content_for :sidebar do
  %h4 Software
  %p

  %p There are many startups that are solving the communication and security issues of society. We represent more than a dozen clients that focus on software platforms and APIs, including:

  %p
    %strong Banjo
    social discovery service
    | Series A funding from BlueRun Ventures and Lightspeed Venture Partners

  %p
    %strong Bubbli
    navigable photos
    | Seed funding from August Capital

  %p
    %strong Duo Security
    two-factor authentication in the cloud
    | Seed funding from True Ventures and Resonant Venture Partners

  %p
    %strong Twilio (pictured)
    phone services API
    | Series C funding from Bessemer Venture Partners and Union Square Ventures

  #clients_nav.software
    = partial 'clients/nav'
